@import url("https://fonts.googleapis.com/css?family=Pacifico");
.wrapper {
  margin: 20px auto 0 auto;
  display: inline-block; }

/* Note styles */
.note-wrap {
  width: 180px;
  min-height: 200px;
  padding: 15px;
  margin: 0 22px 44px 22px;
  position: relative;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  color: #4b453c;
  line-height: 34px;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear; }
  .note-wrap:hover .note-delete {
    visibility: visible;
    opacity: 1; }
  .note-wrap .note-sticky {
    display: block;
    content: "";
    background: rgba(227, 200, 114, 0.4);
    width: 90px;
    height: 28px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px/18px 0;
    position: absolute;
    top: -13px;
    left: 50px;
    transform: rotate(-2deg); }
  .note-wrap .note-content {
    outline: none;
    font-family: 'Pacifico', cursive;
    background: transparent;
    border: none; }
  .note-wrap .note-time {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 12px;
    line-height: 20px; }
  .note-wrap .note-delete {
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    border: none;
    transition: all 0.3s linear;
    color: #585858;
    border-color: #585858; }
  .note-wrap .note-edit {
    position: absolute;
    bottom: 2px;
    left: 2px;
    size: 10px;
    color: #585858;
    border-color: #585858; }
